################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReCaptcha/.vs/ReCaptcha/FileContentIndex/3edf1884-d5de-4e2a-8296-77ce73dc146f.vsidx
/ReCaptcha/.vs/ReCaptcha/FileContentIndex/6ae46de2-76aa-464f-b012-175796c1c951.vsidx
/ReCaptcha/.vs/ReCaptcha/FileContentIndex/b19620d1-40de-42d3-91f0-97d230d5095e.vsidx
/SeleniumBot/.vs/SeleniumBot/FileContentIndex
